extends layout

block content
   h1 Update Book 
   div(class="error-div")
       h2(class="error") Oooops!
       ul(class="error")
          li Title is required
          li Author is required
   script. 
      var validation = () => {
         const title = document.querySelector('#title');
         const author = document.querySelector('#author');
         if(!title.value || !author.value){
            document.querySelector('.error-div').style.display = "block";
            return false;
         }else{
            return true;
         }       
      } 
   form(method="post" action=`/books/${bookDetail.id}` onsubmit="return validation()")  
      p 
        label(for="title") Title
        input(name="title" type="text" id="title" value=`${bookDetail.title}`)
      p 
        label(for="author") Author
        input(name="author" type="text" id="author" value=`${bookDetail.author}`)
      p 
        label(for="genre") Genre
        input(name="genre" type="text" id="genre" value=`${bookDetail.genre}`)
      p 
        label(for="year") Year
        input(name="year" type="text" id="year" value=`${bookDetail.year}`)    
      p 
        input(class="button" type="submit" value="Update Book")

   form(method="post" action=`/books/${bookDetail.id}/delete` onsubmit="return confirm('Do you really want to delete this book?');") 

      p 
        a(class="button" href="/books") Cancel
      p 
        input(class="button" type="submit" value="Delete Book")    
            



